<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr. Business</title>
    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <!-- upload.html -->
    <div id="formContainer">
    <button id="addText">Add Text</button>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload your csv">

    <input type="text" name="text1">
    </form>
</div>

</form>
<script>
    
// click handler to append new input field
$('#addText').click(function() {
    var newElement = '<input type="text">';
    $('#formContainer').append(newElement);
});

</script>
</body>
</html>
